nav{
  padding-top: 150%;
  background-color: transparent;
  display: flex;
  box-shadow: unset;
}
.sidenav{
  width: 15%;
  box-shadow: unset;
  background: unset;
}
.sidenav-fixed{
  background: unset;
}