* {
  margin: 0%;
  padding: 0%;
}
html {
  overflow: visible;
  height: auto;
}
.section{
  padding-left: 200px;
} 

#home{
  padding-top: 40%;
  height: 100%;
  margin: 0 auto;
  color: white;
}
.social_icon{
  padding-top: 35%;
  text-align: center;
}
li{
  display: inline;
  padding: 0;
  margin: 0 auto;
  
}
.banner{
  background-image: url(/images/1.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}
.sobre{
  background: red;
}
.lista_sobre {
  list-style: none;
}
.sobre .lista_sobre li .titulo_sobre {
  position: relative;
  margin-right: 10px;
  padding-bottom: 1px;
  color: #a1a1a1;
  font-weight: 700;
}